<div class="catpage" id="footer">
    <table class="table table-bordered" id="example">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Address</th>
                <th scope="col">Pincode</th>
                <th scope="col">phone</th>
                <th scope="col">payment</th>
                <th scope="col">Totalprice</th>
                <th scope="col">status</th>
                <th scope="col">Products</th>
                <th scope="col">shippingStatus</th>
                <th scope="col">Order return</th>
            </tr>
        </thead>
        <tbody>
            <% Allorder.forEach(function(data, i){ %>
                <tr>
                    <td>
                        <%= data.deliveryDetails.Name %>
                    </td>
                    <td>
                        <%= data.date.toISOString().split('T')[0]; %>
                    </td>
                    <td>
                        <%= data.deliveryDetails.address%>
                    </td>
                    <td>
                        <%= data.deliveryDetails.Postcode %>
                    </td>
                    <td>
                        <%= data.deliveryDetails.phone %>
                    </td>
                    <td>
                        <%= data.paymentMethod %>
                    </td>
                    <td>
                        <%= data.totaAmount %>
                    </td>
                    <td>

                        <%= data.status %>

                            <form action="/admin/cancelorders/<%= data._id %>" method="post">
                                <input name="status" value="<%= data.status %>" hidden>
                                <button type="submit" class="badge btn-danger btn-sm">Cancel</button>

                            </form>

                    </td>
                    <td>
                        <a href="/admin/orderproduct/<%= data._id %>"><button class="badge btn-success"
                                id="my-button">Products</button></a>
                    </td>

                    <% if (data.status !=="cancel order" ) { %>
                        <td>
                            <%= data.shippingStatus %>

                                <form action="/admin/shippingStatus/<%= data._id %>" method="post">
                                    <input name="Shippingstatus" value="<%= data.shippingStatus %>" hidden>
                                    <button type="submit" class="badge btn-success btn-sm">ChangeStatus</button>

                                </form>



                        </td>
                        </form>
                        <% } %>
                            <% if (data.order_return==="processing" ) { %>
                                <td>
                                    <form action="/admin/return_confirm/<%= data._id %>" method="post" id="return-form">
                                        <input name="Shippingstatus" value="<%= data.shippingStatus %>" hidden>
                                        <input name="Return" value="<%= data.order_return %>" hidden>
                                        <button type="submit" class="badge btn-success btn-sm"
                                            id="return-btn">Confirm</button>
                                    </form>

                                </td>
                                </form>
                                <% } %>

                </tr>
                <% }); %>
        </tbody>
    </table>
</div>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>


<script>

$(document).ready(function () {
        $('#example').DataTable({


        });
    });
    document.getElementById('return-btn').addEventListener('click', function (e) {
        e.preventDefault();
        if (confirm('Are you sure you want to confirm this return?')) {
            document.getElementById('return-form').submit();
        }
    });

  
</script>