<section class=" ml-300 mt-5" id="footer">
    <div class="btns">
  
         <a href="/admin/add-stock-page"> <button class="btn btn-success mt-5">Add Stocks</button></a>
         <a href="/admin/category-page"> <button class="btn btn-success mt-5">Categories</button></a>
    </div>
  
         <table class="table table-bordered" id="example">
                  <thead>
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Name of the product</th>
                      <th scope="col">Color</th>
                      <th scope="col">Category</th>
                      <th scope="col">size</th>
                      <th scope="col">Price</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% product.forEach(function(product, i){ %>
                    <tr >
                      
                      <td ><img class="product-image" src="/product_img/<%= product._id %>.jpg" ></td>
                      <td><%= product.productname %></td>
                      <td><%= product.Color %></td>
                      <td><%= product.category %></td>
                      <td><%= product.size%></td>
                      <td>₹<%= product.price %></td>
                      <td>
                          <a href="/admin/edit-pro/<%= product._id%>" ><button class="btn btn-warning mb-3" id="my-button" onclick="myFunction(this.id)">Edit </button></a><br>

                          <form action="/admin/delete-pro/<%= product._id%>" method="post">
                            <input name="stock" value="<%= product.stock %>" hidden>
                            <% if ( product.stock) { %>
                              <button type="submit" class="btn btn-danger" >Unlist</button>
                             
                                <%} else { %>
                                 
                                  <button type="submit" class="btn btn-success" >List</button>
                                  <% } %>
                          </form>

                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
  </section>
  