<!-- Recent Sales -->
<div class="col-12  mt-20" id="footer">
    <div class="card recent-sales overflow-auto">
        <div class="card-body" id="invoice">
            <h5 class="card-title">Recent Sales <span></span></h5>

            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th scope="col">OrderId</th>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% Allsales.forEach(function(data, i){ %>
                        <tr>
                            <th scope="row">
                                <%= data._id %>
                            </th>
                            <td>
                                <%= data.date %>
                            </td>
                            <td>
                                <%= data.deliveryDetails.Name %>
                            </td>
                            <td>
                                <%= data.totaAmount %>
                            </td>
                            <td>
                                <%= data.paymentMethod %>
                            </td>
                            <td><span class="badge bg-success">
                                    <%= data.shippingStatus %>
                                </span></td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <button type="button" id="download-button" class="btn btn-dark rounded-pill"> Download PDF</button>

            <button type="button" class="btn btn-primary rounded-pill" onclick="export_data()" value="Export to excel">Download as Excel</button>

        </div>


    </div>
</div><!-- End Recent Sales -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<!-- PDF AND EXCEL -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<script>
    const button = document.getElementById('download-button');

    function generatePDF() {
        // Choose the element that your content will be rendered to.
        const element = document.getElementById('invoice');
        // Choose the element and save the PDF for your user.
        html2pdf().from(element).save();
    }

    button.addEventListener('click', generatePDF);

    function export_data() {
        let data = document.getElementById('invoice');
        var fp = XLSX.utils.table_to_book(data, { sheet: 'arjun' });
        XLSX.write(fp, {
            bookType: 'xlsx',
            type: 'base64'
        });
        XLSX.writeFile(fp, 'test.xlsx');
    }
</script>