<div class="checkout-main-area pt-90 pb-90">
    <div class="container">
        <form action="" id="checkout-form">
            <div class="checkout-wrap pt-30">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="billing-info-wrap mr-50">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-20">
                                        <label> Name <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="name" id="username">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-20">
                                        <label>Company Name <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="companyname" id="companydata">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-20">
                                        <label>Street Address <abbr class="required" title="required">*</abbr></label>
                                        <input placeholder="Apartment, suite, unit etc." type="text" name="Address" id="add">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-20">
                                        <label>Town / City <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="city" id="city">
                                        <input type="text" name="userId" id="" value="<%= users._id %>" hidden>
                                        <input type="text" name="offerdata" id="offeramount" value="" hidden>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>State / County <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="State" id="Addstate">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>Postcode / ZIP <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="Postcode" id="pin">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>Phone<abbr class="required" title="required">*</abbr></label>
                                        <input type="number" name="phonenumber" id="Addphone">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>Email Address <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="email" id="mail">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="your-order-area">
                            <h3>Your order</h3>
                            <div class="your-order-wrap gray-bg-4">
                                <div class="your-order-info-wrap">
                                    <div class="your-order-info">
                                        <ul>
                                            <li>Product <span>Total</span></li>
                                        </ul>
                                    </div>
                                    <% product.forEach(function(chekpro, i){ %>

                                        <div class="your-order-middle">
                                            <ul>
                                                <li>
                                                    <%= chekpro.product.productname %><span>₹<%= chekpro.product.price
                                                                %>*<%= chekpro.quantity %></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <% }); %>

                                            <div class="your-order-info order-subtotal">
                                                <ul>
                                                    <li>Subtotal <span>₹<%= totalprice %></span></li>
                                                </ul>
                                            </div>
                                            <div class="your-order-info order-shipping">
                                                <ul>
                                                    <div class="col-lg-4 col-md-6">
                                                        <div class="">
                                                            <div class="">
                                                                <h6 class="">Use Coupon Code</h6>
                                                            </div>
                                                            <div class="">
                                                                <p>Enter your coupon code if you have one.</p>
                                                                <form>
                                                                    <p id="error" style="color: red;"></p>
                                                                    <input type="text" placeholder=" Coupon Code" id="code">
                                                                    <input type="text"  name="totalprice" id="price" value="<%= totalprice %>" hidden>
                                                                    <button class="cart-btn-2" type="button" onclick="checkCoupon()">Apply Coupon</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </ul>
                                            </div>
                                            <div class="your-order-info order-total">
                                                <ul>
                                                    <li>Total <span id="offer">₹<%= totalprice %></span></li>
                                                </ul>
                                            </div>
                                            
                                </div>
                                <div class="payment-method">
                                    <div class="pay-top sin-payment">
                                        <input id="payment-method-3" class="input-radio" type="radio" value="COD"
                                            name="payment_method">
                                        <label for="payment-method-3">Cash on delivery </label>
                                        <div class="payment-box payment_method_bacs">
                                            <p>Make your payment directly into our bank account. Please use your Order
                                                ID as the payment reference.</p>
                                        </div>
                                    </div>
                                    <div class="pay-top sin-payment sin-payment-3">
                                        <input id="payment-method-4" class="input-radio" type="radio" value="ONLINE"
                                            name="payment_method">
                                        <label for="payment-method-4">Online payment <img alt=""
                                                src="assets/images/icon-img/payment.png"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="Place-order mt-40">
                                <button type="submit" class="btn btn-danger btn-lg btn-block">Place Order</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="billing-info mb-20 ml-100">
            <button onclick="addcurrent('<%= users._id %>')"    
                class="btn btn-outline-warning btn-rounded"
                data-mdb-ripple-color="dark">Add_address</button>

        </div>
    </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  

<script>


    function RazorpayPayment(order) {
        console.log("called 3");
        var options = {
            "key": "rzp_test_2OQT5vz8WgTGvO", // Enter the Key ID generated from the Dashboard
            "amount": order.totaAmount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Ecom",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
            "handler": function (response) {
                // alert(response.razorpay_payment_id);
                // alert(response.razorpay_order_id);
                // alert(response.razorpay_signature)

                verifyPayment(response, order)


            },


            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();

    }
    function verifyPayment(payment, order) {
        console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
        $.ajax({
            url: '/verify_payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                console.log(response);
                if (response) {
                    location.href = '/orderplaced'
                } else {
                    alert("payment failed")

                }

            }
        })
    }


    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {

                if (response.CODsucess) {
                    location.href = '/orderplaced'
                } else {
                    console.log("called 1");
                    RazorpayPayment(response)
                    console.log("called 2");

                }

            }
        })
    })

    function addcurrent(Id) {
        console.log(Id);

        $.ajax({
            url: '/getAdd/'+Id,
            method: 'get',
            success: (userdata => {
                console.log(userdata);
                document.getElementById('username').innerHTML = userdata.username
                document.getElementById('companydata').innerHTML = userdata.companyname
                document.getElementById('add').value = userdata.Address
                document.getElementById('city').value = userdata.City
                document.getElementById('Addstate').value = userdata.State
                document.getElementById('pin').value = userdata.Postcode
                document.getElementById('Addphone').value = userdata.phonenum
                document.getElementById('mail').value = userdata.Addemail

            })
        })

    }
    function checkCoupon() {
        console.log("sknssdsddsdkdck");
            var codes= document.getElementById('code').value
            var total = document.getElementById('price').value
            console.log(codes)
            console.log(total);
            $.ajax({
                url: '/checkcoupon',
                data: {
                    data: codes,total
                     
                },
                method: 'post',
                success: (response => {
                    console.log(response,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$");
                    if (response) {
                        document.getElementById('offer').innerHTML = +response
                        document.getElementById("offeramount").value=response
                    } else {
                        document.getElementById('error').innerHTML = 'Enter valied  coupon code'
                    }
                })
            })
        }






</script>