<div class="checkout-main-area pt-90 pb-90">
    <div class="container">
        <form action="" id="checkout-form">
            <div class="checkout-wrap pt-30">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="billing-info-wrap mr-50">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-20">
                                        <label> Name <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="name" id="use" value="" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-20">
                                        <label>Company Name <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="companyname" id="com" value="" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-20">
                                        <label>Street Address <abbr class="required" title="required">*</abbr></label>
                                        <input placeholder="Apartment, suite, unit etc." type="text" name="Address" id="add" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-20">
                                        <label>Town / City <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="city" id="city" required>
                                        <input type="text" name="userId" id="" value="<%= users._id %>" hidden>
                                        <input type="text" name="offerdata" id="offeramount" value="" hidden>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>State / County <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="State" id="Addstate" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>Postcode / ZIP <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="Postcode" id="pin" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>Phone<abbr class="required" title="required">*</abbr></label>
                                        <input type="number" name="phonenumber" id="Addphone" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label>Email Address <abbr class="required" title="required">*</abbr></label>
                                        <input type="text" name="email" id="mail" required>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="your-order-area">
                            <h3>Your order</h3>
                            <div class="your-order-wrap gray-bg-4">
                                <div class="your-order-info-wrap">
                                    <div class="your-order-info">
                                        <ul>
                                            <li>Product <span>Total</span></li>
                                        </ul>
                                    </div>
                                    <% product.forEach(function(chekpro, i){ %>

                                        <div class="your-order-middle">
                                            <ul>
                                                <li>
                                                    <%= chekpro.product.productname %><span>₹<%= chekpro.product.price
                                                                %>*<%= chekpro.quantity %></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <% }); %>

                                            <div class="your-order-info order-subtotal">
                                                <ul>
                                                    <li>Subtotal <span>₹<%= totalprice %></span></li>
                                                </ul>
                                            </div>
                                            <div class="card mb-3">
                                                <div class="your-order-area bg-light">
                                                    <form>
                                                        <div class="form-group"> <label>Have coupon?</label>
                                                            <p id="error" style="color: red;"></p>
                                                            <div class="input-group"> 
                                                            <input type="text" class="form-control coupon" name="" placeholder="Coupon code" id="code"> 
                                                            <input type="text"  name="totalprice" id="price" value="<%= totalprice %>" hidden>
                                                             <span class="input-group-append">
                                                            
                                                             <button class="btn btn-danger btn-apply coupon ml-20" type="button"  onclick="checkCoupon()">Apply</button> </span> </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="your-order-info order-total">
                                                <ul>
                                                    <li>Total <span id="offer">₹<%= totalprice %></span></li>
                                                </ul>
                                            </div>
                                            
                                </div>
                                <div class="payment-method">
                                    <div class="pay-top sin-payment">
                                        <input id="payment-method-3" class="input-radio" type="radio" value="COD"
                                            name="payment_method">
                                        <label for="payment-method-3">Cash on delivery </label>
                                    </div>
                                    <div class="pay-top sin-payment sin-payment-3">
                                        <input id="payment-method-4" class="input-radio" type="radio" value="Razorpay"
                                            name="payment_method">
                                        <label for="payment-method-4"> Razorpay <img alt=""
                                                src="assets/images/icon-img/payment.png"></label>
                                    </div>
                                    <div class="pay-top sin-payment sin-payment-3">
                                        <input id="payment-method-4" class="input-radio" type="radio" value="paypal"
                                            name="payment_method">
                                        <label for="payment-method-4">paypal<img alt=""
                                                src="assets/images/icon-img/payment.png"></label>
                                    </div>
                                    <% if (walletAmount && walletAmount.Totalamount && walletAmount.Totalamount > 0 && walletAmount.Totalamount >= totalprice) { %>
                                    <div class="pay-top sin-payment">
                                        <input id="payment-method-3" class="input-radio" type="radio" value="wallet"
                                            name="payment_method">
                                        <label for="payment-method-3">wallet </label>
                                    </div>
                                    <% } else { %>
                                        <p style="color: red;">You don't have the cash in your wallet to buy this product. That's why you can't use the wallet amount, sorry.</p>
                                        
                                    <% } %>
                                </div>
                            </div>
                            <div class="Place-order mt-40">
                                <button type="submit" class="btn btn-danger btn-lg btn-block">Place Order</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <strong class="ml-120">select Address</strong>
    <div class="col-lg-12 col-md-12">
        <div class="container d-flex">
            <% if(userdata.Addresses && userdata.Addresses.length > 0){ %>
            <% userdata.Addresses.forEach(function(userdata, i){ %>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="<%= userdata.addressId%>" onclick="fillAddressData('<%= JSON.stringify(userdata) %>')">
                <label class="form-check-label" for="exampleRadios1">
                    <address>
                        <p><strong><%= userdata.username %></strong></p>
                        <p><%= userdata.companyname %> <br><p> <%= userdata.Address %></p></p>
                        <p>Mobile:<%= userdata.phonenum %></p>
                        <p>Email:<%= userdata.Addemail %></p>
                        <p>Pincode:<%= userdata.Postcode %></p>
                        <p>City:<%= userdata.City %></p>
                        <p>State:<%= userdata.State %></p>
                    </address>
                </label>
            </div>
            <% }); %>
            <% } else { %>
            <p>No addresses found.</p>
            <% } %>
        </div>
    </div>
    
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  

<script>


    function RazorpayPayment(order) {
        console.log("called 3");
        var options = {
            "key": "rzp_test_2OQT5vz8WgTGvO", // Enter the Key ID generated from the Dashboard
            "amount": order.totaAmount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Ecom",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
            "handler": function (response) {
                // alert(response.razorpay_payment_id);
                // alert(response.razorpay_order_id);
                // alert(response.razorpay_signature)

                verifyPayment(response, order)


            },


            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();

    }
    function verifyPayment(payment, order) {
        console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
        $.ajax({
            url: '/verify_payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                console.log(response);
                if (response) {
                    location.href = '/orderplaced'
                } else {
                    alert("payment failed")

                }

            }
        })
    }


    $("#checkout-form").submit((e) => {
        e.preventDefault()

        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {

                if (response.status=="COD") {
                    location.href = '/orderplaced'
                } else if
                (response.status=="razorpay") {
                    console.log("called 1");
                    RazorpayPayment(response.response)
                    console.log("called 2");

                }else if(response.status=="paypal"){
                    window.location = response.forwardLink

                }else if (response.status=="wallet") {
                    location.href = '/orderplaced'
                }


            }            
        })
        
    
      
    })
    function checkCoupon() {
       
            var codes= document.getElementById('code').value
            var total = document.getElementById('price').value
            console.log(codes)
            console.log(total);
            $.ajax({
                url: '/checkcoupon',
                data: {
                    data: codes,total
                     
                },
                method: 'post',
                success: (response )=>{
                    if (response) {
                        document.getElementById('offer').innerHTML = "₹"+response
                        document.getElementById("offeramount").value=response
                        swal("coupon Added successfully", "", "success");
                    } else {
                       
                    }

                },
                error: function (xhr, status, error) {
                    console.log("sknssdsddsdkdck");
                    console.log(error);
                    if (xhr.status === 400 && xhr.responseJSON && xhr.responseJSON.error === "Enter valied coupon code") {
                        document.getElementById('error').innerHTML = xhr.responseJSON.error
                        
                        setTimeout(function () {
                            document.getElementById('error').innerHTML = "";
                        }, 5000);


                    } else {
                        $('#error').text(error);
                    }
                }
            })
        }
        

  function fillAddressData(userdata) {
   
  
  let selectedAddress =JSON.parse(userdata);
  console.log(selectedAddress,"LLLLLLLLLLLLLLLLLLLLLLLLL");
  
  document.getElementById('add').value = selectedAddress.Address;
  document.getElementById('city').value = selectedAddress.City;
  document.getElementById('Addstate').value =selectedAddress.State;
  document.getElementById('pin').value = selectedAddress.Postcode;
  document.getElementById('Addphone').value = selectedAddress.phonenum;
  document.getElementById('mail').value = selectedAddress.Addemail;
  document.getElementById('user').value = selectedAddress.username;
  document.getElementById('company').value = selectedAddress.companyname;
}



     




</script>