<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1 dot-style-1 nav-dot-left">
        <div class="single-slider height-100vh bg-img" data-dot="01"
            style="background-image:url(/images/slider/hm1-bg-1.jpg);"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 col-12 col-sm-6">
                    <div class="slider-sin-img-hm1 slider-sin-mrg1 slider-animated-1">
                        <img class="animated" src="/images/slider/hm1-single-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-12 col-sm-6">
                    <div class="slider-content-1 slider-animated-1 ml-70">
                        <h3 class="animated">30% off</h3>
                        <h1 class="animated">Comfort Chair</h1>
                        <p class="animated">Collect from Daxone & get 30% Discount.</p>
                        <div class="slider-btn-1 default-btn btn-hover">
                            <a class="animated btn-color-theme btn-size-md btn-style-outline"
                                href="product-details.html">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-slider height-100vh bg-img" data-dot="02"
        style="background-image:url(assets/images/slider/hm1-bg-1.jpg);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 col-12 col-sm-6">
                    <div class="slider-sin-img-hm1 slider-sin-mrg1 slider-animated-1">
                        <img class="animated" src="/images/slider/hm1-single-2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-12 col-sm-6">
                    <div class="slider-content-1 slider-animated-1 ml-70">
                        <h3 class="animated">30% off</h3>
                        <h1 class="animated">Comfort Chair</h1>
                        <p class="animated">Collect from Daxone & get 30% Discount.</p>
                        <div class="slider-btn-1 default-btn btn-hover">
                            <a class="animated btn-color-theme btn-size-md btn-style-outline"
                                href="product-details.html">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="banner-area pt-100 pb-100">
    <div class="container">
        <div class="bg-img pt-100 pb-100 learn-banner" style="background-image:url(/images/bg/banner-bg-1.jpg);">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-11">
                    <div class="banner-content">
                        <h2>Premium Home <br>Decorator</h2>
                        <a href="product-details.html">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pb-135">
    <div class="container">
        <div class="section-title text-center mb-40">
            <h2>Best Sell</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text</p>
        </div>
        <div class="product-slider-active owl-carousel">
            <div class="product-wrap">
                <div class="product-img mb-15">
                    <a href="product-details.html"><img src="/images/product/pro-hm1-1.jpg" alt="product"></a>
                    <div class="product-action">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" title="Quick View" href="#"><i
                                class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <span>Chair</span>
                    <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                    <div class="price-addtocart">
                        <div class="product-price">
                            <span>$210.00</span>
                        </div>
                        <div class="product-addtocart">
                            <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-wrap">
                <div class="product-img mb-15">
                    <a href="product-details.html"><img src="assets/images/product/pro-hm1-2.jpg" alt="product"></a>
                    <span class="price-dec">-30%</span>
                    <div class="product-action">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" title="Quick View" href="#"><i
                                class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <span>Chair</span>
                    <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                    <div class="price-addtocart">
                        <div class="product-price">
                            <span>$210.00</span>
                            <span class="old">$230.00</span>
                        </div>
                        <div class="product-addtocart">
                            <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-wrap">
                <div class="product-img mb-15">
                    <a href="product-details.html"><img src="assets/images/product/pro-hm1-3.jpg" alt="product"></a>
                    <span class="new-stock"><span>Stock <br>Out</span></span>
                    <div class="product-action">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" title="Quick View" href="#"><i
                                class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <span>Chair</span>
                    <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                    <div class="price-addtocart">
                        <div class="product-price">
                            <span>$250.00</span>
                        </div>
                        <div class="product-addtocart">
                            <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-wrap">
                <div class="product-img mb-15">
                    <a href="product-details.html"><img src="assets/images/product/pro-hm1-4.jpg" alt="product"></a>
                    <span class="price-dec font-dec">NEW</span>
                    <div class="product-action">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" title="Quick View" href="#"><i
                                class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <span>Chair</span>
                    <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                    <div class="price-addtocart">
                        <div class="product-price">
                            <span>$320.00</span>
                            <span class="old">$120.00</span>
                        </div>
                        <div class="product-addtocart">
                            <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-wrap">
                <div class="product-img mb-15">
                    <a href="product-details.html"><img src="assets/images/product/pro-hm1-2.jpg" alt="product"></a>
                    <span class="price-dec">-30%</span>
                    <div class="product-action">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" title="Quick View" href="#"><i
                                class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <span>Chair</span>
                    <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                    <div class="price-addtocart">
                        <div class="product-price">
                            <span>$210.00</span>
                            <span class="old">$230.00</span>
                        </div>
                        <div class="product-addtocart">
                            <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="discount-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="discount-img">
                    <a href="#">
                        <img src="/images/banner/banner-1.jpg" alt="discount-img">
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="discount-content">
                    <p>Lorem Ipsum is simply dummy text of the <br>printing and typesetting industry.</p>
                    <h2>Winter Discount <br>Up to 30%</h2>
                    <p class="bright-color">It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout.</p>
                    <div class="discount-btn default-btn btn-hover">
                        <a class="btn-color-theme btn-size-md btn-style-outline" href="product-details.html">Shop
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pb-60">
    <div class="container">
        <div class="section-title text-center mb-40">
            <h2>All Products</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text</p>
        </div>
        <div class="row">
            <% showproduct.forEach(function(product, i){ %>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="product-wrap mb-35">
                    <div class="product-img mb-15 ">
                        <a href="/productdetails/<%= product._id %>"><img src="/product_img/<%= product._id %>.jpg" alt="product"></a>
                        <div class="product-action">
                            <a data-bs-toggle="modal" data-bs-target="#exampleModal" title="Quick View" href="#"><i
                                    class="fa fa-plus" aria-hidden="true"></i></a>
                            <a title="Wishlist" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                        </div>
                    </div>
                    <div class="product-content">
                        <span><%= product.category %></span>
                        <h4><a href="/productdetails/<%= product._id %>"><%= product.productname %></a></h4>
                        <div class="price-addtocart">
                            <div class="product-price">
                                <span>₹<%= product.price %></span>
                            </div>
                            <div class="product-addtocart">
                                <button onclick="addtocart('<%= product._id %>')" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark">+ Add To Cart</button>
                                <!-- <a title="Add To Cart" href="/add-tocart/<%= product._id %>">+ Add To Cart</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
         
    </div>
    <script>
        function addtocart(proId){
            $.ajax({
                url:'/add-tocart/'+proId,
                method:'get',
                success:(response)=>{
                    location.reload()
    
                }
            })
        }
    </script>