<div class="catpage">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">OrderId</th>
                <th scope="col">Date</th>
                <th scope="col">Address</th>
                <th scope="col">Pincode</th>
                <th scope="col">phone</th>
                <th scope="col">payment</th>
                <th scope="col">Totalprice</th>
                <th scope="col">status</th>
                <th scope="col">view</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
         <% orders.forEach(function(data, i){ %>
            <tr>
                <td><%= data._id %></td>
                <td><%= data.date %></td>
                <td><%= data.deliveryDetails.address%></td>
                <td><%= data.deliveryDetails.Postcode %></td>
                <td><%= data.deliveryDetails.phone  %></td>
                <td><%= data.paymentMethod %></td>
                <td><%= data.totaAmount %></td>
                <td><%= data.status %></td>
                <td>
                    <a href="/orderproduct/<%= data._id %>"><button class="badge btn-danger" id="my-button" >Products</button></a>
                </td>
                <td>
                    <form action="/cancelorder/<%= data._id %>" method="post">
                        <input name="status" value="<%= data.status %>" hidden>
                          <button type="submit" class="badge btn-danger" >Cancel</button>
                           
                      </form>
                </td>
            </tr>
         <% }); %>
            
         
      </tbody>
    </table>
</div>