<div class="product-details-area pt-90 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7">
        <div class="product-details-img">
          <div class="img-display">
            <div class="img-showcase">
              <img src="/product_img1/<%= productDATA._id %>.jpg" alt="shoe image" id="product_img">
              <img src="/product_img2/<%= productDATA._id %>.jpg" alt="shoe image" id="product_img1">
              <img src="/product_img3/<%= productDATA._id %>.jpg" alt="shoe image" id="product_img2">
            </div>
          </div>
          <div class="img-select" style="width: 600px; margin-top:10px;">
            <div class="img-item" style="width: 100px; margin-top:10px;">
              <a href="#" data-id="1">
                <img src="/product_img1/<%= productDATA._id %>.jpg" alt="shoe image">
              </a>
            </div>
            <div class="img-item" style="width: 100px; margin-top:10px;">
              <a href="#" data-id="2">
                <img src="/product_img2/<%= productDATA._id %>.jpg" alt="shoe image">
              </a>
            </div>
            <div class="img-item" style="width: 100px; margin-top:10px;">
              <a href="#" data-id="3">
                <img src="/product_img3/<%= productDATA._id %>.jpg" alt="shoe image">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-5">
        <div class="product-details-content pro-details-content-modify">
          <span>
            <%= productDATA.category %>
          </span>
          <h2>
            <%= productDATA.productname %>
          </h2>
          <div class="product-ratting-review">
            <div class="product-ratting">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <div class="product-review">
              <span>40+ Reviews</span>
            </div>
          </div>
          <div class="pro-details-color-wrap">
            <span>Color: <%= productDATA.Color %></span>
          </div>
          <div class="pro-details-size">
            <span>Size: <%= productDATA.size %> </span>
          </div>
          <% if (productDATA.offerprice) { %>
            <div class="pro-details-price-wrap">
              <div class="product-price">
                <span>₹<%= productDATA.offerprice %></span>
                <span class="old">₹<%= productDATA.price %></span>
              </div>
            </div>
            <% } else if (productDATA.catoffer) { %>
              <div class="pro-details-price-wrap">
                <div class="product-price">
                  <span>₹<%= productDATA.catoffer %></span>
                  <span class="old">₹<%= productDATA.price %></span>
                </div>
              </div>
              <% } else { %>
                <div class="pro-details-price-wrap">
                  <div class="product-price">
                    <span>₹<%= productDATA.price %></span>
                  </div>
                </div>
                <% } %>
                  <div class="pro-details-compare-wishlist">
                    <div class="purchase-info">
                      <% if ( productDATA.stock) { %>
                      <button type="button" onclick="addtocart('<%= productDATA._id %>')" class="btn">Add to Cart <i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                      <% } else { %>
                        <p class="h5 text-danger">Sorry, this product is currently out of stock</p>
                        
                      <% } %>
                      <button onclick="addtowishlist('<%= productDATA._id %>')" type="button" class="btn "><i class="fa fa-heart-o"></i>
                      </button>
                    </div>
                  </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="description-review-wrapper pb-90">
  <div class="container">
    <div class="row">
      <div class="ms-auto me-auto col-lg-10">
        <div class="dec-review-topbar nav mb-40">
          <a data-bs-toggle="tab" href="#des-details1">Description</a>
          <a class="active" data-bs-toggle="tab" href="#des-details2">Specification</a>
        </div>
        <div class="tab-content dec-review-bottom">
          <div id="des-details1" class="tab-pane">
            <div class="description-wrap">
              <p>
                <%= productDATA.description %>
              </p>
            </div>
          </div>
          <div id="des-details2" class="tab-pane active">
            <div class="specification-wrap table-responsive">
              <table>
                <tbody>
                  <tr>
                    <td class="width1">Name / Model</td>
                    <td>
                      <%= productDATA.productname %>
                    </td>
                  </tr>
                  <tr>
                    <td>Categories</td>
                    <td>
                      <%= productDATA.category %>
                    </td>
                  </tr>
                  <tr>
                    <td class="width1">Size</td>
                    <td>
                      <%= productDATA.size %>
                    </td>
                  </tr>
                  <tr>
                    <td class="width1">Color</td>
                    <td>
                      <%= productDATA.Color %>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<script>




  const imgs = document.querySelectorAll('.img-select a');
  const imgBtns = [...imgs];
  let imgId = 1;

  imgBtns.forEach((imgItem) => {
    imgItem.addEventListener('click', (event) => {
      event.preventDefault();
      imgId = imgItem.dataset.id;
      slideImage();
    });
  });

  function slideImage() {
    const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

    document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
  }

  window.addEventListener('resize', slideImage);



  function addtocart(proId) {
    $.ajax({
      url: '/add-tocart/' + proId,
      method: 'get',
      success: (response) => {
        swal("Good job!", "You clicked the button!", "success");
        

      },
      error: function (xhr, status, error) {
                console.log(error);
                if (xhr.status === 400 && xhr.responseJSON && xhr.responseJSON.error === "Stock limit Exceeded") {
                    swal({
                        title: "Stock Limit Exceeded",

                        icon: "warning",

                        dangerMode: true,
                    })

                } else {
                    $('#error').text(error);
                }
            }
    })
  }

  function addtowishlist(proId) {
    $.ajax({
      url: '/add-towishlist/' + proId,
      method: 'get',
      success: (response) => {
        location.reload()

      }
    })
  }
</script>