<section class=" gradient-custom-2">
    <div class="container py-5 h-200">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="card card-stepper" style="border-radius: 16px;">
                    <div class="card-header p-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body">
                                        <%= order._id %>
                                    </span></p>
                                <p class="text-muted mb-0"> Place On <span class="fw-bold text-body">
                                        <%= order.date %>
                                    </span> </p>
                            </div>
                            <div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <% singleproduct.forEach(function(product, i){ %>
                            <div class="d-flex flex-row mb-4 pb-2">
                                <div class="flex-fill">
                                    <h5 class="bold">
                                        <%= product.orders.productname %>
                                    </h5>
                                    <p class="text-muted"> Qt: <%= product.orders.quantity %> item</p>
                                    <h4 class="mb-3"> ₹<%= product.orders.price %> <span class="small text-muted"> via (
                                                <%= order.paymentMethod %>) </span></h4>
                                    <p class="text-muted">Tracking Status on: <span class="text-body">
                                            <%= new Date().toLocaleString() %>
                                        </span></p>
                                </div>
                                <div>
                                    <img class="align-self-center img-fluid"
                                        src="/product_img1/<%= product.orders._id %>.jpg"
                                        style="width:200px; height: auto;">
                                </div>

                            </div>
                            <% }); %>

                                <% if (order.status==="cancel order" ) { %>
                                    <h1>Order Cancellation Notification</h1>
                                            <p>We're sorry to inform you that your order has been cancelled.</p>
                                            <p>If you have any questions or concerns, please don't hesitate to contact us.</p>

                             <% } else if (order.order_return==="confirm" ) { %>
                                <header>
                                    <h1>Order Return Confirmation</h1>
                                  </header>
                                  <main>
                                    <h2>Your return request has been received</h2>
                                    <p>Thank you for submitting your return request. We have received your request and are processing it. You will receive a confirmation email shortly.</p>
                                    <h3>Return Details</h3>
                                    <ul>
                                      <li>Order Number:<%= order._id %></li>
                                      <li>Return Reason: Item does not fit</li>
                                      <li>Return Status: <%= order.shippingStatus %></li>
                                    </ul>
                                  </main>


                                            
                                    
                                    <% } else { %>
                                        <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
                                            <li class="step0 active" id="step1"><span
                                                    style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
                                            <li class="step0 active text-center" id="step2"><span>SHIPPED</span></li>
                                            <li class="step0 text-muted text-end" id="step3"><span
                                                    style="margin-right: 22px;">DELIVERED</span></li>
                                        </ul>
                                        
                                            
                                   <% } %>

                    </div>
                    <div class="card-footer p-4">
                        <div class="d-flex justify-content-between">
                            <% if (order.status==="order placed" ) { %>
                                <form action="/cancelorder/<%= order._id %>" method="post">
                                    <input name="status" value="<%= order.status %>" hidden>
                                      <button type="submit" class="badge btn-danger" >Cancel</button>
                                       
                                  </form>
                                <div class="border-start h-100"></div>
                                <% } else if (order.status==="cancel order" ) { %>



                                <%} else { %>
                                   
                                      <form action="/returnorder/<%= order._id %>" method="post">
                                        <input name="status" value="<%= order.order_return %>" hidden>
                                        <button type="submit" class="badge btn-danger return-btn">Return Order</button>
                                    </form>
                                       

                                    <form action="/setinvoice/<%= order._id %>" method="post">
                                        <input name="status" value="<%= order.order_return %>" hidden>
                                        <button type="submit" class="badge btn-warning return-btn">view invoice</button>
                                    </form>
                                    <div class="border-start h-100"></div>
                                    <% } %>
                                        
                                        </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    // Retrieve shipping status from database
    var shippingStatus = '<%= order.shippingStatus %>';
    var Status = '<%= order.status %>';

    // Determine which step of the progress bar corresponds to the shipping status
    var stepNumber;
    if (shippingStatus === "Orderd") {
        stepNumber = 1;
    } else if (shippingStatus === "Shipped") {
        stepNumber = 2;
    } else if (shippingStatus === "delivered") {
        stepNumber = 3;
    }

    // Update progress bar based on shipping status
    for (var i = 1; i <= 3; i++) {
        var step = document.getElementById("step" + i);
        if (i < stepNumber) {
            step.className = "step0 active";
        } else if (i === stepNumber) {
            step.className = "step0 active text-center";
        } else {
            step.className = "step0 text-muted text-end";
        }
    }


</script>







<style>
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #a1c4fd;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
    }

    #progressbar-1 {
        color: #455A64;
    }

    #progressbar-1 li {
        list-style-type: none;
        font-size: 13px;
        width: 33.33%;
        float: left;
        position: relative;
    }

    #progressbar-1 #step1:before {
        content: "1";
        color: #fff;
        width: 29px;
        margin-left: 22px;
        padding-left: 11px;
    }

    #progressbar-1 #step2:before {
        content: "2";
        color: #fff;
        width: 29px;
    }

    #progressbar-1 #step3:before {
        content: "3";
        color: #fff;
        width: 29px;
        margin-right: 22px;
        text-align: center;
    }

    #progressbar-1 li:before {
        line-height: 29px;
        display: block;
        font-size: 12px;
        background: #455A64;
        border-radius: 50%;
        margin: auto;
    }

    #progressbar-1 li:after {
        content: '';
        width: 121%;
        height: 2px;
        background: #455A64;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 15px;
        z-index: -1;
    }

    #progressbar-1 li:nth-child(2):after {
        left: 50%
    }

    #progressbar-1 li:nth-child(1):after {
        left: 25%;
        width: 121%
    }

    #progressbar-1 li:nth-child(3):after {
        left: 25%;
        width: 50%;
    }

    #progressbar-1 li.active:before,
    #progressbar-1 li.active:after {
        background: #1266f1;
    }

    .card-stepper {
        z-index: 0
    }
</style>