<div class="shop-area pt-90 pb-90">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-topbar-wrapper">
                    <div class="product-sorting-wrapper">
                    </div>
                </div>
                <div class="shop-bottom-area">
                    <div class="tab-content jump">
                        <div id="shop-1" class="tab-pane active">
                            <div class="row">
                                <% if (showproduct) { %>
                                    <% showproduct.forEach(function(product, i){ %>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                            <div class="product-wrap mb-35">
                                                <div class="product-img mb-15">
                                                    <a href="/productdetails/<%= product._id %>"><img
                                                            src="/product_img1/<%= product._id %>.jpg"
                                                            alt="product"></a>
                                                    <div class="product-action">

                                                        <button onclick="addtowishlist('<%= product._id %>')"
                                                            type="button" class="btn "><i class="fa fa-heart-o"></i>
                                                        </button>

                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <span>
                                                        <%= product.category %>
                                                    </span>
                                                    <h4><a href="/productdetails/<%= product._id %>">
                                                            <%= product.productname %>
                                                        </a></h4>
                                                    <div class="price-addtocart">
                                                        
                                                        <div class="product-price">
                                                            <span>₹<%= product.price %></span>
                                                        </div>
                                                        <div class="product-addtocart">
                                                            <% if (product.stock) { %>
                                                                <button onclick="addtocart('<%= product._id %>')"
                                                                    class="badge btn-outline-danger btn-rounded"
                                                                    data-mdb-ripple-color="dark">+ Add To Cart</button>
                                                                <% } else { %>
                                                                    <p class="ml-20 text-danger">Sorry, this product is
                                                                        currently out of stock</p>

                                                                    <% } %>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                            <%} else { %>
                                                <div class="container " style=" margin-top:200px">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center mt-4">
                                                            <h1 class="display-4">Product not found</h1>
                                                            <p class="lead">We couldn't find the product you were
                                                                looking for. Please try again or go back to the
                                                                homepage.</p>
                                                        </div>
                                                    </div>
                                                </div>





                                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar-wrapper">
                    <div class="sidebar-widget">
                        <h4 class="sidebar-title">Search </h4>
                        <div class="sidebar-search mb-40 mt-20">
                            <form class="sidebar-search-form" action="">
                                <input type="text" placeholder="Search here..." id="search-input"
                                    onkeyup="searchProducts()">

                            </form>
                        </div>
                    </div>

                    <div class="sidebar-widget shop-sidebar-border pt-40">
                        <h4 class="sidebar-title"></h4>
                        <div class="shop-catigory mt-20">
                            <ul id="faq">
                                <li> <a data-bs-toggle="collapse" href="#shop-catigory-3">Shop By Categories <i
                                            class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul id="shop-catigory-3" class="panel-collapse collapse" data-bs-parent="#faq">
                                        <% catdatas.forEach(function(product, i){ %>
                                            <a href="">
                                                <form action="/categoryfilter" method="post">
                                                    <input type="text" name="name" value="<%= product.name%>" hidden>

                                                    <button type="submit" class="catbtn">
                                                        <%= product.name%>
                                                    </button>
                                                </form>
                                            </a>
                                            <% }); %>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="sidebar-title">Filter By Price</h4>
                    <form id="price-filter" action="/price" method="post">
                        <label for="min-price">Min price:</label>
                        <input type="number" name="min" id="min-price" min="0" value="0">
                        <label for="max-price">Max price:</label>
                        <input type="number" name="max" id="max-price" min="0" value="10000">
                        <button type="submit" class="btn btn-primary btn-sm mt-4">Filter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="overlay-container"
    style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(10, 6, 6, 0.7);">
    <button id="close-button" onclick="closeOverlay()"></button>



</div>
<div class="product__pagination mt-5  " style="  margin-left:800px; ">
  <% for (var i = 0; i < pageCount.length; i++) { %>
    <button class="btn btn-secondary rounded">
      <a href="/showproduct?id=<%= pageCount[i] %>" class="text-white"><i class="fa-sharp fa-solid fa-circle-chevron-right text-muted"></i><%= pageCount[i] %></a>
    </button>
  <% } %>
  <a href="#"><i class="fa-sharp fa-solid fa-circle-chevron-right text-muted"></i></a>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>



    function searchProducts() {

        var searchValue = document.getElementById("search-input").value;

        $.ajax({
            url: '/search',
            data: {
                searchValue,
            },
            method: 'post',
            success: (data) => {
                console.log(data);
                if (data) {
                    // Show the overlay container
                    document.getElementById("overlay-container").style.display = "block";
                    generateOverlayPageHTML(data);
                } else {
                    // Hide the overlay container
                    document.getElementById("overlay-container").style.display = "none";
                }
            }
        });
    }

    function closeOverlay() {
        document.getElementById("overlay-container").style.display = "none";
    }

    function generateOverlayPageHTML(data) {

        const html = `
    <div class="col-xl-3 col-lg-4 col-md-6 ">
      <div class="product-wrap bg-light  " style="width: 400px; margin-left:600px; margin-top:100px;">
        <div class="product-img mb-15">
          <a href="/productdetails/${data._id}">
            <img src="/product_img1/${data._id}.jpg" alt="product">
          </a>
          <div class="product-action">
          </div>
        </div>
        <div class="product-content">
          <span>${data.category}</span>
          <h4>
            <a href="/productdetails/${data._id}">${data.productname}</a>
          </h4>
          <div class="price-addtocart">
            <div class="product-price">
              <span>₹${data.price}</span>
            </div>
            <div class="product-addtocart">
              ${data.stock
                ? `<button onclick="addtocart('${data._id}')" class="btn btn-outline-danger btn-rounded " data-mdb-ripple-color="dark">+ Add To Cart</button>`
                : `<p class="h5 text-danger">Sorry, this product is currently out of stock</p>`
            }
            </div>
          </div>
        </div>
      </div>
    </div>
  `;
        // Inject the HTML into the overlay container
        document.getElementById("overlay-container").innerHTML = html;
    }





    function addtocart(proId) {
        $.ajax({
            url: '/add-tocart/' + proId,
            method: 'get',
            success: (response) => {
                swal("Add to Cart", "", "success");



            }
        })
    }
    function addtowishlist(proId) {
        $.ajax({
            url: '/add-towishlist/' + proId,
            method: 'get',
            success: (response) => {
                location.reload()


            }
        })
    }
</script>